<%= @checked = @powerbank[:availability] ? 'checked': nil%>

<%= simple_form_for(@powerbank) do |f| %>
<!--<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">Available for rent</label>
</div> -->
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :accessories %>
  <%= f.input :photo, as: :file %>
  <!--
  # can be used as a normal checkbox
  <%= f.input_field :availability, as: :boolean %>
-->
<!-- using bootstrap to make a button -->
  <div class="form-check form-switch boolean optional">
  <input name="powerbank[availability]" type="hidden" value="0" autocomplete="off">
  <input class="form-check-input" type="checkbox" value = "1" id="powerbank_availability" name=powerbank[availability] <%= @checked %>>
  <label class="form-check-label" for="flexSwitchCheckChecked">Available for rent</label>
  </div>
  <%= f.submit  class: "btn btn-outline-primary"%>

  <% end %>
