
<div class="container px-4 py-5">
  <h1>Dashboard</h1>
  Hello <%= @name %>,


<div class="container px-4 py-5">
<%= link_to 'List a new powerbank', new_powerbank_path, class: , class: "btn btn-primary" %>
  <h2 class="pb-2 border-bottom">Your powerbanks for loan</h2>
  <div class="d-flex flex-wrap">
    <% @powerbanks_for_loan.each do |powerbank| %>
      <div class="card m-1" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title"><%= powerbank.name %></h5>
        <p class="card-text"> <%= powerbank.description %></p>
        <p class="card-text"><%= powerbank.price %> per day</p>
        <p class="card-text">
          <% if powerbank.availability %>
            <h5> Currently available </h5>
          <% else %>
            <h5> Currently loaned out </h5>
          <% end %>
        </p>
        </div>
        <%= link_to 'edit', edit_powerbank_path(powerbank), class: "btn btn-outline-secondary" %>
        <%= link_to 'delete', powerbank_path(powerbank), data: { turbo_confirm: 'Are you sure', turbo_method: :delete }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>


<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Booking requests for your powerbanks</h2>
  <div class="d-flex flex-wrap">
  <% @bookings.each do |booking| %>
    <div class="card m-1" style="width: 18rem;">
      <div class="card-body">
      <p class="card-text"> Booking request from <%= booking.user.username %></p>
      <h5 class="card-title"><%= booking.powerbank.name %></h5>
      <p class="card-text"> <%= booking.powerbank.description %></p>
      <p class="card-text">
        <% if booking.status == "Pending" %>
          <%= link_to "Accept", accept_booking_path(booking) %>
          <%= link_to "Decline", decline_booking_path(booking) %>
        <% else %>
          <h5> <%= booking.status %> </h5>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>


<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Your bookings</h2>
  <div class="d-flex flex-wrap">
    <% @my_bookings.each do |booking| %>
      <div class="card m-1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= booking.powerbank.name %></h5>
          <p class="card-text"> <%= booking.powerbank.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
