<h1 class = "text-center">Powerbanks near you</h1>
<div class = "d-flex justify-content align-items">
  <button onclick="getLocation()" class = "btn btn-outline-secondary" style="margin:0 auto">
  Find powerbanks near me
  </button>
</div>


<div id = "map">
<!--This image tag can go away one we have our own map(yatin)-->
  <%= image_tag 'map1.png', height:500, width: 500%>
</div>


<ul class = "list-group">
  <div class="d-flex flex-wrap">
  <% @powerbanks.each do |powerbank| %>
    <hr>
    <div class="card m-1 each-card" style="width: 18rem;">
      <% @available =  powerbank.availability ? "Yes" : "Booked" %>
            <%= cl_image_tag powerbank.photo.key, crop: :fill,  class: "card-img-top img-top" %>
            <li class="list-group-item"><strong>Name: </strong>  <%= powerbank.name %></li>
            <li class="list-group-item"><strong>Description: </strong> <%= powerbank.description %></li>
            <li class="list-group-item"><strong>Price: </strong>$<%= powerbank.price %>per day</li>
            <% unless powerbank.accessories == nil || powerbank.accessories == "" %>
              <li class="list-group-item"><strong>Accessories: </strong> <%= powerbank.accessories %></li>
            <li class="list-group-item"><strong>Available: </strong>  <%= @available%></li>
            <% end %>
      <%= link_to 'Show powerbank', powerbank_path(powerbank), class: "btn btn-primary bottom-link" %>
    </div>
    <hr>
  <% end %>
  </div>
</ul>


<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(console.log);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

</script>
