<div class="container">
  <h1 class = "text-center">Powerbanks near you</h1>
<div class = "d-flex justify-content align-items">
  <button onclick="getLocation()" class = "btn btn-outline-secondary" style="margin:0 auto">
  Find powerbanks near me
  </button>
</div>

<div>
  <div id = "map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<ul class = "list-group">
  <div class="d-flex flex-wrap">
  <% count = 0 %>
  <% @powerbanks.each do |powerbank| %>
    <hr>
    <% count += 1 %>
    <div class="card m-1 each-card" style="width: 14rem;">
      <% @available =  powerbank.availability ? "Yes" : "Booked" %>
            <%= cl_image_tag powerbank.photo.key, crop: :fill,  class: "card-img-top img-top" %>
            <div class="marker-label"><div><strong><%= count %></strong></div></div>
            <li class="list-group-item"><strong>Name: </strong>  <%= powerbank.name %></li>
            <li class="list-group-item"><strong>Description: </strong> <%= powerbank.description %></li>
            <li class="list-group-item"><strong>Price: </strong>$<%= powerbank.price %>per day</li>
            <% unless powerbank.accessories == nil || powerbank.accessories == "" %>
              <li class="list-group-item"><strong>Accessories: </strong> <%= powerbank.accessories %></li>
            <li class="list-group-item"><strong>Available: </strong>  <%= @available%></li>
            <% end %>
      <%= link_to 'Show powerbank', powerbank_path(powerbank), class: "btn btn-primary bottom-link-index" %>
    </div>
    <hr>
  <% end %>
  </div>
</ul>


<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((location) => {
      const latitude = location.coords.latitude
      const longitude = location.coords.longitude
      window.location.search = `longitude=${longitude}&latitude=${latitude}`;
    });
  } else {
    console.log("Geolocation is not supported by this browser.");
  }
}

</script>

</div>
