<h1 class = "text-center">Powerbanks near you</h1>
<div class = "d-flex justify-content align-items">
  <button onclick="getLocation()" class = "btn btn-outline-secondary" style="margin:0 auto">
  Find powerbanks near me
  </button>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<ul class = "list-group">
  <div class="d-flex flex-wrap">
  <% @powerbanks.each do |powerbank| %>
    <hr>
    <div class="card m-1 each-card" style="width: 18rem;">
      <% @available =  powerbank.availability ? "Yes" : "Booked" %>
        <%= image_tag ['powerbank_anker.jpeg', 'powerbank_pink.jpeg', 'powerbank_blue.jpeg', 'powerbank_blue.jpeg', 'powerbank_pink.jpeg', 'powerbank_anker.jpeg'].sample, class: "card-img-top img-top"%>
        <li class="list-group-item"><strong>Name: </strong>  <%= powerbank.name %></li>
        <li class="list-group-item"><strong>Description: </strong> <%= powerbank.description %></li>
        <li class="list-group-item"><strong>Price: </strong>$<%= powerbank.price %></li>
        <% unless powerbank.accessories == nil || powerbank.accessories == "" %>
          <li class="list-group-item"><strong>Accessories: </strong> <%= powerbank.accessories %></li>
        <li class="list-group-item"><strong>Available: </strong>  <%= @available%></li>
        <% end %>
      <%= link_to 'Show powerbank', powerbank_path(powerbank), class: "btn btn-primary bottom-link" %>
    </div>
    <hr>
  <% end %>
  </div>
</ul>


<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((location) => {
      window.location.search = `${}`;
    });
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

</script>
