<h1 class = "text-center">Powerbanks near you</h1>
<div class = "d-flex justify-content align-items">
  <button onclick="getLocation()" class = "btn btn-outline-secondary" style="margin:0 auto">
  Find powerbanks near me
  </button>
</div>
<div id = "map">
  Placeholder for map
</div>

<%= link_to 'List a new powerbank', new_powerbank_path, class: , class: "btn btn-primary" %>
<ul>
  <% @powerbanks.each do |powerbank| %>
    <hr>
    <%= powerbank.availability ? "Available for rent" : "Booked" %>
    <li><%= powerbank.description %></li>
    <li><%= powerbank.price %></li>
    <% unless powerbank.accessories == nil || powerbank.accessories == "" %>
      <li><%= powerbank.accessories %></li>
    <% end %>
    <%= link_to 'Show powerbank', powerbank_path(powerbank), class: "btn btn-outline-secondary" %>
    <% if powerbank.user == current_user %>
      <%= link_to 'edit', edit_powerbank_path(powerbank), class: "btn btn-outline-secondary" %>
      <%= link_to 'delete', powerbank_path(powerbank), data: { turbo_confirm: 'Are you sure', turbo_method: :delete }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
  <hr>
</ul>


<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(console.log);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

</script>
