<h1>New Powerbank</h1>

<%= simple_form_for(@powerbank) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :accessories %>
  <%= f.submit %>
<% end %>
