<h1>New Powerbank</h1>

<%= form_for(@powerbank) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit %>
<% end %>
