<ul class = "list-group list-group-flush ">
  <% @available =  @powerbank.availability ? "Yes" : "Booked" %>
  <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
  <%# <%= cl_image_tag @powerbank.photo.key, crop: :fill, class: card-img-top  %>
  <li class="list-group-item"><strong>Name: </strong>  <%= @powerbank.name %></li>
  <li class="list-group-item"><strong>Description: </strong> <%= @powerbank.description %></li>
  <li class="list-group-item"><strong>Price: </strong>$<%= @powerbank.price %></li>
  <li class="list-group-item"><strong>Available: </strong>  <%= @available%></li>
  <li class="list-group-item"><strong>Owner: </strong>  <%= @name%></li>
  <% unless @powerbank.accessories == nil || @powerbank.accessories == "" %>
    <li class="list-group-item"><strong>Accessories: </strong> <%= @powerbank.accessories %></li>
    <% else %>
    <li class="list-group-item"><strong>Accessories: </strong> No accessories %></li>
  <% end %>
  <%= link_to 'Book_now', '' , class: 'btn btn-primary'%>
</ul>
      <%# TODO - add edit button pending user validation %>
      <!-- Not sure why edit was here so i commented it (Yatin)
      <%= link_to 'Edit', edit_powerbank_path(@powerbank) %>
      -->

      <%# TODO - add a form to book provided the powerbank is available AND user is not powerbank owner %>
      <%# <%= link_to 'Edit', edit_powerbank_path(@powerbank) %>


<div id= 'ad'>
<% if @powerbank.availability %>
  <%= simple_form_for [@powerbank, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit,  'Request this powerbank',  class: "btn btn-secondary"%>
    <%= link_to 'Browse more powerbanks', powerbanks_path , class: 'btn btn-secondary'%>
    <% end %>
  <% end %>
</div>
